
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    margin-left: 200px;
}
.center img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-color: azure;
}
body {
    background-color: rgba(17, 19, 21, 0.795);
    color: azure;
    margin-left: 200px;
}
h1 {
    color: azure;
}

#navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px; /* Adjust width as needed */
    height: 100%; /* Full height of viewport */
    background-color: #747272; /* Background color for the panel */
    color: #fff; /* Text color */
    padding: 20px; /* Padding inside the panel */
  }
  .navigation a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Block level for full clickable area */
    padding: 10px; /* Padding inside each menu item */
  }
